html{
    width: 100%;
    height:100%;
}

#spinner{
margin: 25%;
}

button{
    background-color: #fab91a;
    border: none;
    color: white;
    font-weight: bold;
    align-self: auto;
}
button:hover{
    background-color: #fab91a;
    border: none;
    color: white; 
}
.flex{
background-color: #324161;
color: white;
justify-content: center;
bottom: 20px;
display: block;
font-size: medium;

}

hr{
    background: green !important;
    background-color: green;
    height: 60px;
    width: 100%;
  }
form{
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}
.form-container{
    padding: 30px;
    border-radius: 20px;
    position: relative;
    //bottom: 60px;
    top: 160px;

    //box-shadow: 0px 0px 12px 0px;
}
body{
    padding-top: 25vh;
    height: max-content;
    background:dimgray;
    

}
h4{
    color: #324161;
    font-size: 30px;
    font-weight: bold;
}
footer{
   // position: relative;
   // top: 706px;
   position: sticky;
    margin-top: 200px;
    background: #eee;
}
.foot{
    width: 100%;
    position: absolute;
     width: 100%;
      bottom: 0;
      margin: 0;
}
.text-dark{
    margin: 15px;
}
a{
    text-decoration: none;
}
@media screen and (max-width:768px)   and (orientation:landscape){
    .form-container{
    left: -99px;
    width: 453px;
    }
}
@media screen and (max-width: 328px) and (orientation:landscape){
.form-container {
    //left: 4px;
    width: 429px;}
}